{
    "swagger": "2.0",
    "info": {
        "title": "Github Apis",
        "description": "Github repository and user access",
        "version": "3.0.0"
    },
    "host": "api.github.com",
    "schemes": [
        "https"
    ],
    "securityDefinitions": {
        "oauth": {
            "type": "oauth2",
            "flow": "implicit",
            "authorizationUrl": "https://github.com/login/oauth/authorize"
        }
    },
    "security": [
        { "oauth": [] }
    ],
    "paths": {
        "/user": {
            "get": {
                "operationId": "getCurrentUser",
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "schema": {
                            "$ref": "#/definitions/user"
                        }
                    }
                }
            }
        },

        "/users/{username}": {
            "get": {
                "operationId": "getUser",
                "parameters": [
                    {
                        "name": "username",
                        "in": "path",
                        "description": "User name to retrieve",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "schema": {
                            "$ref": "#/definitions/user"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "user": {
            "properties": {
                "login": {
                    "type": "string"
                },
                "id": {"type": "string"},
                "avatar_url" : {"type": "string"},
                "gravatar_url": {"type": "string"},
                "url": {"type": "string"},
                "html_url": {"type": "string"},
                "followers_url": {"type": "string"},
                "following_url": {"type": "string"},
                "gists_url": {"type": "string"},
                "starred_url": {"type": "string"},
                "subscriptions_url": {"type": "string"},
                "organizations_url": {"type": "string"},
                "repos_url": {"type": "string"},
                "events_url": {"type": "string"},
                "received_events_url": {"type": "string"},
                "type": {"type": "string"},
                "site_admin": {
                    "type": "boolean"
                },
                "name": {"type": "string"},
                "company": {"type": "string"},
                "blog": {"type": "string"},
                "location": {"type": "string"},
                "email": {"type": "string"},
                "hireable": {
                    "type": "boolean"
                },
                "bio": {"type": "string"},
                "public_repos": {
                    "type": "integer"
                },
                "public_gists": {
                    "type": "integer"
                },
                "followers": {
                    "type": "integer"
                },
                "following": {
                    "type": "integer"
                },
                "created_at": {
                    "type": "string",
                    "format": "date-time"
                },
                "updated_at": {
                    "type": "string",
                    "format": "date-time"
                }
            }
        }
    }
}
